{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["plugin:prettier/recommended", "prettier"],
  "parser": "@babel/eslint-parser",
  "plugins": ["@babel", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "ignorePatterns": [
    "dist/",
    "node_modules/"
  ]
}
